/* Contact.css */
.contact-head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente */
    justify-content: center;
    /* Centra verticalmente */
    text-align: center;
    /* Centra el texto dentro de los elementos */
    padding: 20px;
    /* Espaciado interno */
}

.contact-head-title {
    font-family: 'Playfair Display', serif;
    /* Fuente Playfair Display */
    font-size: 40px;
    /* Tamaño de fuente */
    line-height: 32px;
    /* Altura de línea */
    color: #333333;
    /* Color del texto */
    margin: 20px;
    /* Espaciado inferior */
}

.contact-head-subtitle {
    font-family: 'Inter', sans-serif;
    /* Fuente Inter */
    font-size: 32px;
    /* Tamaño de fuente */
    font-weight: 600;
    /* SemiBold */
    line-height: 55px;
    /* Altura de línea */
    color: #004D40;
    /* Color del texto */
    margin-bottom: 20px;
    /* Espaciado inferior */
}

.contact-head-description {
    font-family: 'Inter', sans-serif;
    /* Fuente Inter */
    font-size: 20px;
    /* Tamaño de fuente */
    font-weight: 400;
    /* Regular */
    line-height: 22px;
    /* Altura de línea */
    color: #000000;
    /* Color del texto */
    max-width: 1200px;
    /* Ancho máximo del párrafo */
}