.footer {
  background-color: #cccccc;
  color: #333333;
  height: 200px;
  width: 100%;
  margin-top: auto;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  height: 100%;
}

.footer-logo-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.footer-navigation-links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-navigation-links nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-link {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  padding: 10px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-social-media {
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  justify-content: flex-end;
}

.social-icon {
  color: #004d40;
  font-size: 50px;
  text-decoration: none;
}

.social-icon:hover {
  opacity: 0.8;
}

.cita-button {
  padding: 20px;
  background-color: #004d40;
  color: #ffffff;
  border: solid #ffffff 3px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.cita-button:hover {
  background-color: #ffffff;
  color: #333333;
  opacity: 0.9;
  border: solid #004d40 3px;
}

.social-media-icon {
  font-size: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  color: #004d40;
}

.social-media-icon-inv {
  font-size: 40px;
  background-color: #004d40;
  border-radius: 5px;
  color: #ffffff;
  padding: 2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 1440px) {
  .footer {
    height: 200px;
  }

  .footer-logo-image {
    width: 90px;
    height: 90px;
  }

  .social-icon {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .footer {
    height: 180px;
  }

  .footer-content {
    padding: 15px;
    gap: 10px;
  }

  .footer-logo-image {
    width: 80px;
    height: 80px;
  }

  .social-icon {
    font-size: 35px;
  }

  .cita-button {
    font-size: 14px;
    padding: 12px;
  }

  .footer-link {
    font-size: 14px;
    padding: 8px;
  }

  .footer-info {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .footer {
    height: 140px;
  }

  .footer-content {
    padding: 10px;
    gap: 5px;
  }

  .footer-logo-image {
    width: 50px;
    height: 50px;
  }

  .footer-info {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
  }

  .footer-navigation-links {
    line-height: 21px;
  }

  .footer-link {
    font-size: 10px;
    padding: 4px;
    line-height: 12px;
  }

  .footer-info {
    font-size: 10px;
  }

  .social-icon {
    font-size: 30px;
  }

  .social-icons {
    gap: 10px;
    margin-bottom: 20px;
  }

  .social-media-icon,
  .social-media-icon-inv {
    font-size: 30px;
  }

  .cita-button {
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .footer {
    height: 110px;
  }

  .footer-navigation-links {
    line-height: 10px;
  }

  .footer-link {
    font-size: 6px;
    padding: 2px;
    line-height: 10px;
  }

  .footer-info {
    font-size: 6px;
    line-height: 10px;
  }

  .social-icon {
    font-size: 20px;
  }

  .social-icons {
    gap: 4px;
    margin-bottom: 10px;
  }

  .social-media-icon,
  .social-media-icon-inv {
    font-size: 25px;
  }

  .cita-button {
    font-size: 10px;
    padding: 8px 12px;
  }
}