.home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.carousel-container {
  position: fixed;
  /* Fija en la parte superior */
  top: 100px;
  left: 0;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.react-image-gallery {
  width: 100%;
  height: 100%;
}

.react-image-gallery .image-gallery-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-left-nav,
.custom-right-nav {
  position: absolute;
  /* Posiciona las flechas dentro del carousel-container */
  top: 50%;
  /* Centrado vertical dentro del contenedor */
  transform: translateY(-50%);
  /* Ajuste para centrar perfectamente */
  z-index: 10;
  font-size: 20px;
  background: none;
  border: none;
  color: #004d40;
  cursor: pointer;
  transition: color 0.3s ease;
}

.custom-left-nav {
  left: 10px;
}

.custom-right-nav {
  right: 10px;
}

.custom-left-nav:hover,
.custom-right-nav:hover {
  color: #cccccc;
}

/* Desktop */
@media (min-width: 1440px) {

  .carousel-container,
  .carousel-container img {
    min-height: 400px;
    /* Ajuste para desktop */
  }
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1439px) {
  .carousel-container {
    height: 250px;
    /* Ajuste proporcional para laptop */
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .carousel-container {
    height: 200px;
    top: 80px;
    /* Ajuste proporcional para laptop */
  }
}

/* Mobile */
@media (max-width: 767px) {
  .carousel-container {
    height: 180px;
    top: 80px;
    /* Ajuste proporcional para laptop */
  }
}

/* Pantallas pequeñas menores de 480px */
@media (max-width: 480px) {
  .carousel-container {
    height: 140px;
    top: 80px;
    /* Ajuste proporcional para laptop */
  }
}