/* === Estilos globales importados desde App.css === */
@import './../App.css';

.profile-form-container {
    max-width: 500px;
    margin: 5rem auto;
    padding: var(--spacing);
    background: white;
    border: 3px solid var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-form-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--spacing);
    color: var(--primary-color);
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.profile-form label {
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--text-color);
}

.profile-form input {
    width: 100%;
    padding: var(--spacing);
    font-size: var(--font-size-base);
    border: 3px solid var(--primary-color);
    border-radius: var(--border-radius);
    outline: none;
    transition: border-color 0.3s;
}

.profile-form input:focus {
    border-color: #002D26;
}

.profile-form button {
    background: var(--primary-color);
    font-weight: 600;
    font-size: var(--font-size-base);
    color: white;
    border: 3px solid var(--secondary-color);
    padding: var(--spacing);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
}

.profile-form button:hover {
    background: white;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-cancel {
    background: var(--secondary-color);
    color: var(--text-color);
    border: 3px solid var(--secondary-color);
}

.btn-cancel:hover {
    background: white;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.profile-form-message {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: var(--spacing);
}

.profile-form-message.success {
    font-size: 18px;
    color: #008000;
}

.profile-form-message.error {
    font-size: 18px;
    color: var(--danger-color);
}

/* === Media Queries === */
@media (max-width: var(--bp-tablet)) {
    .profile-form-container {
        max-width: 400px;
    }
}

@media (max-width: var(--bp-mobile)) {
    .profile-form-container {
        max-width: 350px;
    }

    .profile-form-title {
        font-size: 20px;
    }
}

@media (max-width: var(--bp-small)) {
    .profile-form-container {
        max-width: 300px;
    }

    .profile-form-title {
        font-size: 18px;
    }
}

@media (max-width: var(--bp-xsmall)) {
    .profile-form-container {
        max-width: 250px;
    }

    .profile-form-title {
        font-size: 16px;
    }

    .profile-form button {
        font-size: 12px;
        padding: 6px;
    }
}