/* === Estilos globales importados desde App.css === */
@import './../App.css';

.services-text-content {
    padding-top: 4rem;
    text-align: center;
}

.services-text-content h1,
.services-text-content h2,
.services-text-content p {
    text-align: center;
}

.services-text-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: var(--text-color);
    margin: var(--spacing);
}

.services-text-content h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: var(--spacing);
}

.services-text-content p {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    max-width: 1095px;
    margin: 0 auto;
    text-align: justify;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: var(--spacing) 3rem 9rem 3rem;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.service-card {
    width: 350px;
    height: 420px;
    padding: var(--spacing);
    background-color: #4C5C5A;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.service-card:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.service-card-image {
    width: 330px;
    height: 200px;
    border-radius: var(--border-radius);
    object-fit: cover;
    transition: all 0.3s ease;
}

.service-card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--spacing);
    justify-content: space-between;
}

.service-card-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: var(--spacing) 0;
}

.service-card-description {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    overflow: hidden;
    height: 66px;
}

.service-card-button {
    width: 150px;
    height: 50px;
    background-color: white;
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: 3px solid var(--primary-color);
    transition: all 0.3s ease;
    margin: 0 auto;
}

.service-card-button:hover {
    background-color: var(--primary-color);
    color: white;
}

/* === Media Queries === */
@media (max-width: var(--bp-tablet)) {
    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: var(--bp-mobile)) {
    .service-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .service-card {
        width: 80%;
    }
}

@media (max-width: var(--bp-small)) {
    .services-text-content h1 {
        font-size: 20px;
    }

    .services-text-content h2 {
        font-size: 18px;
    }

    .service-card {
        width: 90%;
    }
}

@media (max-width: var(--bp-xsmall)) {
    .services-text-content h1 {
        font-size: 18px;
    }

    .services-text-content h2 {
        font-size: 16px;
    }

    .service-card {
        width: 95%;
    }

    .service-card-button {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
}