.services-text-content {
    padding-top: 4rem;
}

/* Estilo para el contenedor de los textos */
.services-text-content h1,
.services-text-content h2,
.services-text-content p {
    text-align: center;
    /* Centrar los textos horizontalmente */
}

/* Estilo para el h1 */
.services-text-contentn h1 {
    font-family: 'Playfair Display', serif;
    /* Fuente Playfair Display */
    font-weight: bold;
    /* Estilo bold */
    font-size: 60px;
    /* Tamaño de fuente 60px */
    line-height: 72px;
    /* Line height 72px */
    color: #333333;
    /* Color #333333 */
    margin-bottom: 20px;
    /* Espaciado inferior */
}

/* Estilo para el h2 */
.services-text-content h2 {
    font-family: 'Inter', sans-serif;
    /* Fuente Inter */
    font-weight: 600;
    /* SemiBold */
    font-size: 42px;
    /* Tamaño de fuente 42px */
    line-height: 55px;
    /* Line height 55px */
    color: #004D40;
    /* Color #004D40 */
    margin-bottom: 20px;
    /* Espaciado inferior */
}

/* Estilo para el párrafo */
.services-text-content p {
    font-family: 'Inter', sans-serif;
    /* Fuente Inter */
    font-weight: normal;
    /* Regular */
    font-size: 16px;
    /* Tamaño de fuente 16px */
    line-height: 22px;
    /* Line height 22px */
    color: #000000;
    /* Color negro */
    margin-bottom: 40px;
    /* Espaciado inferior */
    max-width: 1090px;
    /* Ancho máximo para no estirarlo demasiado */
    margin-left: auto;
    /* Centrado horizontalmente */
    margin-right: auto;
    /* Centrado horizontalmente */
    text-align: justify;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
    padding: 1rem 3rem 9rem 3rem;
    justify-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.service-card {
    width: 350px;
    height: 420px;
    padding: 10px;
    background-color: #4C5C5A;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.service-card:hover {
    background-color: #CCCCCC;
    color: #333333;
}

.service-card:hover .service-card-title,
.service-card:hover .service-card-description {
    color: #333333;
}

.service-card-image {
    width: 330px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    transition: all 0.3s ease;
    margin-top: 0;
    flex-shrink: 0;
}

.service-card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 15px;
    justify-content: space-between;
}

.service-card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    margin: 10px 0;
}

.service-card-description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
    display: flex;
    /* Usa Flexbox */
    align-items: center;
    /* Centra el contenido verticalmente */
    justify-content: center;
    /* Centra el contenido horizontalmente (si es necesario) */
    overflow: hidden;
    height: 66px;
    /* Mantiene la altura de la caja */
    max-height: 66px;
    /* Limita la altura máxima */
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.service-card-button {
    display: flex;
    /* Cambia a flexbox para controlar el alineamiento */
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    width: 150px;
    height: 50px;
    background-color: #FFFFFF;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid #004D40;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 auto;
}

.service-card-button:hover {
    background-color: #00796B;
    color: #FFFFFF;
}

/* Tablet & Mobile */
/* @media (max-width: 1024px) {}

@media (max-width: 768px) {
    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .service-grid {
        grid-template-columns: 1fr;
    }
} */

/* Tablet y pantallas más pequeñas (1024px) */
@media (max-width: 1440px) {
    .services-text-content {
        padding-top: 3rem;
    }
}

@media (max-width: 1024px) {
    .services-text-content {
        padding-top: 2rem;
    }

    .services-text-content h1 {
        font-size: 30px;
        /* Reduce el tamaño del h1 */
        line-height: 40px;
        /* Ajusta el line-height */
        margin-bottom: 15px;
        /* Reduce el margen inferior */
    }

    .services-text-content h2 {
        font-size: 20px;
        /* Reduce el tamaño del h2 */
        line-height: 28px;
        /* Ajusta el line-height */
        margin-bottom: 15px;
        /* Reduce el margen inferior */
    }

    .services-text-content p {
        font-size: 14px;
        /* Reduce el tamaño de la fuente del párrafo */
        line-height: 20px;
        /* Ajusta el line-height */
        max-width: 670px;
        /* Ajusta el máximo de ancho */
    }

    .service-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas */
        grid-template-rows: repeat(2, 1fr);
        /* Ajusta la cantidad de filas si es necesario */
        padding: 0 2rem 5rem 2rem;
        /* Ajusta el padding */
    }

    .service-card {
        width: 90%;
        /* Ajusta el ancho de las tarjetas */
        height: auto;
        /* Ajusta la altura de las tarjetas según el contenido */
    }

    /* Ajustar tamaños de imágenes y contenedor */
    .service-card-image,
    .service-card-image-container {
        width: 100%;
        height: 180px;
        /* Se mantiene una proporción uniforme */
        object-fit: cover;
    }


    .service-card-title {
        font-size: 14px;
        /* Reduce el tamaño de la fuente */
    }

    .service-card-description {
        font-size: 12px;
        /* Reduce el tamaño de la fuente */
        height: 40px;
        /* Limita la altura */
        line-height: 14px;

    }

    .service-card-button {
        width: 140px;
        /* Ajusta el ancho del botón */
        height: 45px;
        /* Ajusta la altura del botón */
        font-size: 14px;
    }
}

/* Pantallas más pequeñas (768px) */
@media (max-width: 768px) {
    .services-text-content {
        padding-top: 1rem;
        /* Ajusta el espacio superior */
    }

    .services-text-content h1 {
        font-size: 14px;
        /* Reduce el tamaño del h1 */
        line-height: 20px;
        /* Ajusta el line-height */
        margin-bottom: 10px;
        /* Reduce el margen inferior */
    }

    .services-text-content h2 {
        font-size: 12px;
        /* Reduce el tamaño del h2 */
        line-height: 18px;
        /* Ajusta el line-height */
        margin-bottom: 10px;
        /* Reduce el margen inferior */
    }

    .services-text-content p {
        font-size: 10px;
        /* Reduce el tamaño de la fuente del párrafo */
        line-height: 16px;
        /* Ajusta el line-height */
        max-width: 295px;
        /* Ajusta el máximo de ancho */
    }

    .service-grid {
        grid-template-columns: repeat(1, 1fr);
        /* Una columna */
        grid-template-rows: auto;
        /* Ajusta la cantidad de filas */
        padding: 0 1.5rem 4rem 1.5rem;
        /* Ajusta el padding */
    }

    .service-card {
        width: 80%;
        /* Las tarjetas ocupan todo el ancho disponible */
        height: auto;
        /* Ajusta la altura de las tarjetas según el contenido */
    }

    .service-card-image {
        width: 100%;
        /* Las imágenes ocupan todo el ancho disponible */
        height: auto;
        /* Ajusta la altura de las imágenes */
    }

    /* Ajustar tamaños de imágenes y contenedor */
    .service-card-image,
    .service-card-image-container {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }

    .service-card-title {
        font-size: 12px;
        /* Reduce el tamaño de la fuente */
    }

    .service-card-description {
        font-size: 10px;
        /* Reduce el tamaño de la fuente */
        height: 30px;
        /* Ajusta la altura del contenedor de descripción */
    }

    .service-card-button {
        width: 120px;
        /* Ajusta el ancho del botón */
        height: 35px;
        /* Ajusta la altura del botón */
        font-size: 12px;
    }
}

/* Pantallas aún más pequeñas (480px) */
@media (max-width: 380px) {
    .services-text-content {
        padding-top: 2rem;
        /* Ajusta el espacio superior */
    }

    .services-text-content h1 {
        font-size: 12px;
        /* Reduce el tamaño del h1 */
        line-height: 14px;
        /* Ajusta el line-height */
        margin-bottom: 10px;
        /* Ajusta el margen inferior */
    }

    .services-text-content h2 {
        font-size: 10px;
        /* Reduce el tamaño del h2 */
        line-height: 14px;
        /* Ajusta el line-height */
        margin-bottom: 10px;
        /* Ajusta el margen inferior */
    }

    .services-text-content p {
        font-size: 10px;
        /* Reduce el tamaño de la fuente del párrafo */
        line-height: 14px;
        /* Ajusta el line-height */
        max-width: 90%;
        /* Ajusta el máximo de ancho */
        margin-left: auto;
        /* Centrado horizontalmente */
        margin-right: auto;
        /* Centrado horizontalmente */
    }

    .service-grid {
        grid-template-columns: 1fr;
        /* Una columna */
        padding: 1rem 1rem 3rem 1rem;
        /* Ajusta el padding */
    }

    .service-card {
        width: 80%;
        /* Las tarjetas ocupan todo el ancho disponible */
        height: 95%;
        /* Ajusta la altura de las tarjetas según el contenido */
    }

    /* Ajustar tamaños de imágenes y contenedor */
    .service-card-image,
    .service-card-image-container {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }

    .service-card-title {
        font-size: 10px;
        /* Reduce el tamaño de la fuente */
    }

    .service-card-description {
        font-size: 8px;
        line-height: 12px;
        /* Reduce el tamaño de la fuente */
        height: 30px;
        /* Ajusta la altura del contenedor de descripción */
        max-height: 40px;
        /* Limita la altura */
        line-clamp: 2;
        /* Ajusta el número de líneas visibles */
        -webkit-line-clamp: 2;
    }

    .service-card-button {
        width: 120px;
        /* Ajusta el ancho del botón */
        height: 35px;
        /* Ajusta la altura del botón */
    }
}