* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow-x: hidden; */
  /* Evita barras de desplazamiento horizontal */
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contenedor general para páginas que no son Home */
/* .page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
} */